# Python
**/*.pyc
**/*.pyo
**/.pytest_cache
**/htmlcov
**/.coverage

# Jupyter
**/.ipynb_checkpoints
**/*.ipynb

# OS
**/Thumbs.db

# Project-specific
**/data
**/lightning_logs
**/tb_logs
**/checkpoints